<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?language=fr&key=AIzaSyCrGwxOGWpzAQ3KcuZktEu0Tr7qRoLHyVU&libraries=places', 'data-turbolinks-track': 'reload' %>

<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>